#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

body, html {
font-family: 'Quicksand', sans-serif;
  /** font-family: "Elsie Swash Caps", cursive; **/
  background-color: #dfe2db;
}

/** ~~~~~~~~~~~~~   HEADER  ~~~~~~~~~~~~~~**/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.header-center-nav-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin-left: -140px;
}

.header-end-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.logo {
  height: 60px;
  padding-right: 10px;
}

.nav-img-search {
  height: 23px;
}

.nav-img-wishlist{
  height: 30px;
}

.nav-img-cart{
  height: 30px;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.logo-name {
  font-size: 35px;
}

.center-nav {
  font-size: 20px;
}