#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

body {
  font-family: "Quicksand", sans-serif;
  /** font-family: "Elsie Swash Caps", cursive; **/
  background-color: #dfe2db;
  margin: 0;
  padding: 0;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}



/** ~~~~~~~~~~~~~   HEADER  ~~~~~~~~~~~~~~**/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.header {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-container {
  display: flex;
  align-items: center;
}

.header-center-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin-left: -140px;
}

.header-end-nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.logo {
  height: 60px;
  padding-right: 10px;
}

.nav-img-search {
  height: 23px;
}

.nav-img-wishlist {
  height: 30px;
}

.nav-img-cart {
  height: 30px;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.logo-name {
  font-size: 35px;
}

.center-nav {
  font-size: 20px;
}

/** ~~~~~~~~~~~~~~~  FOOTER  ~~~~~~~~~~~~~~ */
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.footer {
  background-color: #0a150e;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0;
  margin: 0;
}

.social-img-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.social-img {
  height: 40px;
  border-radius: 50%;
  background-color: #dfe2db;
  border: solid #dfe2db 2px;
}

.footer-content-conatiner {
  display: relative;
  color: #dfe2db;
}
